.navbar {
  background-color: #001C8A;
  border-color:#001C8A;
  color:#fff;
}

.myspaceimg {
  max-height: 4em;
}
li {
  list-style: none;
}

.textrow {
  display:flex;
  flex-direction: row;
}

.userInfo {
  margin-top: 4em;
}
