
<div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-8">
          <img src="../photo.jpg" alt="">
        </div>
        <div class="col-xs-4 userInfo">
          <ul>
            <li>Male</li>
            <li>23</li>
            <li>Tom Anderson</li>
            <li>New York</li>
            <li>USA</li>
          </ul>
        </div>
      </div>
      <ul>
        <li>Mood: deja Vu 🤑</li>
        <li>View My: Pics | Video</li>
      </ul>
      <div class="row space-bottom">
          <div class="container col-xs-12 blueBorder">
            <h5 class="white">Contacting Tom</h5>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="white-side">
                  <div class='textrow'>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><a> Send Message</a>
                  </div>
                  </td>
                </tr>
                <tr>
                  <td class="white-side">
                  <div class='textrow'>
                    <i class="fa fa-users" aria-hidden="true"></i><a> Add to Friends</a>
                  </div>
                  </td>
                </tr>
                <tr>
                  <td class="white-side">
                  <div class='textrow'>
                    <i class="fa fa-commenting" aria-hidden="true"></i><a> Instant Message</a>
                  </div>
                  </td>
                </tr>
                <tr>
                  <td class="white-side">
                  <div class='textrow'>
                    <i class="fa fa-share" aria-hidden="true"></i><a> Forward to Friend</a>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>

      <div class="row">
          <div class="container col-xs-12 blueBorder">
            <h3 class="white">Details</h3>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="left-side">Status:</td>
                  <td class="right-side">Swinger</td>
                </tr>
                <tr>
                  <td class="left-side">Here for:</td>
                  <td class="right-side">Networking, Dating, Serious Relationships, Friends</td>
                </tr>
                <tr>
                  <td class="left-side">Orientation:</td>
                  <td class="right-side">Bi</td>
                </tr>
                <tr>
                  <td class="left-side">Hometown:</td>
                  <td class="right-side">Garland</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="blackBox">
        <h3>Tom Anderson is in your extended network</h3>
      </div>
        <h4>Tom Anderson Latest Blog Entry</h4>
        <a class="blueText">[Subscripbe to this Blog]</a>
        <a class="blueText">[View All Blog Entries]</a>
        <div class="orangeBar">
          <p>Tom Anderson Blurbs</p>
        </div>
        <p class="orangeText">About me:</p>
        <p class="orangeText">Who I'd like to meet:</p>
        <div class="orangeBar">
          Tom Anderson Friend Space (Top 1)
        </div>
        <friends></friends>
        <div class="orangeBar">
          Tom Anderson Friends Comments
        </div>
        <a href="#">Add Comment</a>
    </div>
</div>
